anaconda==0.0.1.1
appdirs==1.4.3
asteval==0.9.18
astropy==4.0.1.post1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
idna==2.9
imagecodecs==2020.2.18
imageio==2.8.0
kiwisolver==1.2.0
lmfit==1.0.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.3
packaging==20.3
pi==0.1.2
Pillow==7.1.2
pooch==1.1.0
pycparser==2.20
pydicom==1.4.2
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyqtgraph==0.10.0
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.23.0
scikit-image==0.17.1
scipy==1.4.1
six==1.14.0
tifffile==2020.5.7
uncertainties==3.1.2
unwrap==0.1.1
urllib3==1.25.9
